body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
}
canvas {
    display: block;
    background: #87CEEB;
}
.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 30px;
    font-size: 40px;
    min-width: 50dvw;
}
.wind-controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
button{
    font-size: 20px;
    border: 2px solid #87ceeb;
    border-radius: 5px;
    padding: 10px;
    background-color: #689fb7;
    color: white;
    cursor: pointer;
}